

.text-box {
  position: absolute;
  max-width: 590px;
  padding: 10px 50px 20px 50px;
  border-radius: 10px;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  margin: 15px;
  * {
    max-width: 400px;
  }
  button {
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .text-box {
    bottom: inherit;
    top: 0;
    font-size: .9rem;
    padding: 10px 30px 20px 30px;
    max-width: 100%;
    transform: none;

    
    * {
      max-width: 100%;
    }
  }
  h1 {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    margin-bottom: 0px;
  }
  
}

.gradient-bg2 {
  background: rgb(111,121,160);
  background: linear-gradient(90deg, rgba(111,121,160,1) 0%, rgba(110,121,160,1) 75%, rgba(107,108,111,0) 100%);
}
.gradient-bg {
  background: #3C5CD8;
}

a {
  text-decoration: underline;
}



h1 {
  background-image: linear-gradient(to right, #A2BBF6, #F0D4F7);
  color: transparent;
  background-clip: text;
}